        #heading {
            font-style: italic;
            font-size: 50px;
            font-family: cursive;
        }
        
        .col-md-6 {
            font-size: 20px;
            font-style: italic;
            font-family: cursive;
        }
        
        #cont {
            margin-top: 10%;
        }
        
        #button {
            background-color: #31b9aee1;
            border: none;
            color: white;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            color: black;
        }
        
        ul {
            margin: 0;
        }
        
        li {
            list-style: none;
            margin: 0%;
        }
        
        #body {
            background-color: rgb(214, 246, 239);
        }
        /* Media Queries: Tablet Landscape */
        
        @media screen and (max-width: 1060px) {
            #primary {
                width: 67%;
            }
            #secondary {
                width: 30%;
                margin-left: 3%;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
        /* Media Queries: Tabled Portrait */
        
        @media screen and (max-width: 768px) {
            #primary {
                width: 100%;
            }
            #secondary {
                width: 100%;
                margin: 0;
                border: none;
            }
            img {
                max-width: 100%;
                height: auto;
                margin-right: 15px;
            }
            span.parspan {
                font-size: 0.8em;
            }
        }